<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <h2 class="text-center">Adicionar Livro</h2>
      <div class="card mt-3">
        <div class="card-body">
          <form [formGroup]="todoForm" (ngSubmit)="addTodo()">

            <div class="row" >
              <div class="col-md-12">
                <div class="input-style">
                  <input class="input" type="text" id="name" placeholder=" " [(ngModel)]="name" formControlName="name" />
                  <label class="label" for="name">Nome do livro</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-style">
                  <input class="input" type="text" id="author" placeholder=" " [(ngModel)]="author" formControlName="author" />
                  <label class="label" for="author">Autor do livro</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-style">
                  <input class="input" type="number" id="value" placeholder=" " [(ngModel)]="value" formControlName="value" />
                  <label class="label" for="value">Valor do livro</label>
                </div>
              </div>
            </div>



              <div class="row">
                <div class="col-12 col-lg-6 col-md-6">
                 <button type="submit" class="btn btn-primary  col-12" [disabled]="!todoForm.valid">Adicionar</button>
                </div> <br><br><br>
                <div class="col-12 col-lg-6 col-md-6">
                    <a [routerLink]="['../livros']">
                      <button type="submit" class="btn btn-primary  col-12">Cancelar</button>
                    </a>
                </div>
               </div>
          </form>
        </div>
      </div>
  </div>
</div>

