<h1>Lista De livros Cadastrados</h1>



<div class="table-responsive" *ngIf="data.length != 0; else elseBlock">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Autor</th>
          <th scope="col">Preço</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data; index as i">

          <th scope="row">{{ i + 1 }}</th>
          <td>  {{ d.name}} </td>
          <td>{{ d.author }}</td>
          <td>{{ d.value | currency:'R$ '}}</td>
          <td>
            <div class="btn-group mr-3">

              <div class="btn-group" ngbDropdown role="group" aria-label="bt dropdown">
                <button class="btn btn-outline-danger" ngbDropdownToggle>Ações</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a [routerLink]="['/livros-editar/', d.id]">
                      <button ngbDropdownItem > Editar</button>
                    </a>

                  <button ngbDropdownItem alt="Excluir" type="button" class="btn btn-danger mr-1" (click)="deleteTodo(d.id, i)">Deletar</button>

                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

</div>

<span>
  <ng-template #elseBlock>Nehum livro cadastrado.</ng-template>
</span>
