<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Livros cadastrados </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" [routerLink]="['/livros-add/']">Adicionar Livros</a>
      </li>
    </ul>
  </div>
</nav>
