.mt50{
 margin-top: 50px;
}.form-field{
  width: 100%;
}

/* .container-table{
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
} */
.theme-green{
  background-color: #47aa42;
  color:white;
}

.theme-green th{
      padding:2px 45px;
}
.trash{
  border: none;
  background:none;
  color:#47aa42;
}
.btn-primary{
  background-color:#47aa42;
  border: none;
   margin-right: 15px;
}
.table-bordered td{
  padding: 0 15px;
  font-weight: normal;
   font-size: 15px;
   text-transform: lowercase;
}
.table-bordered th{
  padding: 0 15px;
  font-weight: 600;
   font-size: 16px;

}

.table-bordered{
  border: none;
}
.container h1{
  margin-bottom: 30px;
}

.input-style {
  position: relative;
  height: 4em;
  box-sizing: border-box;
}
select{
 box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 26px;
    padding: 0;
    color: #999999;
}
  input {
    border: 0;
    border-bottom: 1px solid #999999;
    transition: .2s ease-in-out;
    outline: none;}

      input::placeholder{-moz-user-select: none;}
      input::-webkit-input-placeholder{-webkit-user-select: none;}
      input::-ms-input-placeholder {-ms-user-select: none;}


  .label {
    top: 0;
    left: 0;
    right: 0;
    color: #999999;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    -webkit-user-select: none;
  }

  input,
  .label {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    margin: 1% 0 ;
  }

  input:not(:placeholder-shown),
  input:focus {
    border-bottom: 2px solid #18AD47;
  }

  input:not(:placeholder-shown) + .label,
  input:focus + .label {
    color: #18AD47;
    font-size: .8rem;
    top: -20px;
  }


.btn-excluir{
      border-radius: 50%;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border: none;
    padding: 0px 12px;
    font-size: 22px;

}

.btn-add{
      border-radius: 50%;
      border-radius: 50%;
    color: #fff;
    background-color: #18AD47;
    border: none;
    padding: 0px 10px;
    font-size: 22px;
    margin-right: 15px;

}
